.card {
   max-height: 35rem;
   max-width: 25rem
}
.card-image {
   height: 35rem;
   max-width: 25rem
}
.card-title {
   position: absolute;
   left: 70px;
   right: 70px;
   font-size: 34px;
   font-weight: 900;
   text-align: center;
   color: white;
}
.card-text {
   position: absolute;
   top: 90%;
   left: 140px;
   right: 140px;
   font-size: 14px;
   text-align: center;
   color: white;
   background-color: rgba(106, 105, 105, 0.824);
   padding: 5px;
   border-radius: 5px;
}
.btn {
   position: absolute; 
   top: 80%;
   left: 130px;
   right: 130px;
   background-color: rgba(255, 255, 255, 0.240);
   color: white;
   border-color: white;
}
