.wrapper {
   max-height: 35rem;
   max-width: 25rem;
   background-color: black;
   position: absolute;
}
.card {
   max-height: 35rem;
   max-width: 25rem
}

.card-image {
   height: 35rem;
   max-width: 25rems
}
.card-title {
   position: absolute;
   left: 70px;
   right: 70px;
   font-size: 34px;
   font-weight: 900;
   text-align: center;
   color: white;
}
.card-text {
   position: absolute;
   top: 5%;
   left: 10px;
   right: 140px;
   font-size: 14px;
   text-align: center;
   color: white;
   padding: 5px;
   border-radius: 5px;
}
.marker {
   position: absolute;
   top: 20%;
   left: 27px;
}
.marker:hover {
   color: black;
}
.circle {
   position: absolute;
   top: -100%;
   left: 10px;
}
.circle:hover {
   color: black;
}
.daysText {
   position: absolute;
   top: 30%;
   left: 70px;
}
/* .btn {
   position: absolute; 
   top: 90%;
   left: 130px;
   right: 130px;
   background-color: rgba(255, 255, 255, 0.240);
   color: white;
   border-color: white;
} */

