.navbar {
   height: 80px;
   display: flex;
   justify-content: start;
   align-items: center;
   overflow: hidden;
}
.menu-bar {
   font-size: 20px;
   background: none;
}
.menu-bar-two {
   margin-left: 20rem;
   font-size: 20px;
   background: none;
}
.nav-menu {
   background-color: rgb(226, 232, 240);
   width: 400px;
   height: 100vh;
   display: flex;
   justify-content: center;
   position: fixed;
   top:0;
   right: -100%;
   transition: 850ms;
}
.nav-menu.active {
   right: 0;
   transition: 300ms;
   z-index: 999;
}
.nav-menu-items {
   width: 100%;
}
.nav-toggle {
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: start;
   align-items: center;
}
.nav-link:hover {
   color: rgb(36, 36, 36);
}
.nav-link.active {
   border: 3px solid rgba(250, 249, 249, 0.27);
   color: rgb(36, 36, 36);
   font-weight: bold;
   background-color: rgba(254, 254, 254, 0.59); 
 }
 .nav-link {
   color: rgb(255, 255, 255);
 }
