.home {
   display: flex;
   height: 100vh;
   align-items: center;
   font-size: 3rem;
   background-image: url("https://images.pexels.com/photos/3791007/pexels-photo-3791007.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment:fixed;
   background-size: cover;
   margin-top: -80px; 
 }
 .box{
   background-color: rgba(83, 100, 53, 0.663);
   padding: 70px;
   width: 1000px;
   height: 400px;
   margin: auto;
   align-items: center;
   display: flex;
   border-radius: 10px;
 }
 .main-text {
   text-align: center;
   color: rgb(255, 255, 254);
   font-weight: bold; 
 }
 .button-home {
  width: 300px;
  margin: auto;
  padding: 20px
 }
 .food-text {
   margin-top: 300px;
   font-size: 45px;
   text-align: left;
 }
 .food-text-small {
   font-size: 18px;
   
 }
 .button-restaurants {
  width: 300px;
  margin: auto;
  padding: 20px;
  display: block;
  font-weight: bold;
  color: white;
 }
 .text-pasta {
   font-size: 18px;
   color: white;
 }
.box-pasta {
  background-color: rgba(83, 100, 53, 0.663);
  border-radius: 10px;
  width: 800px;
  display: flex;
  align-items: center;
}
.box-foody {
  background-color: rgba(83, 100, 53, 0.663);
  border-radius: 10px;
  width: 900px;
  margin: auto;
  align-items: flex-end;
  display: flex;
}
